.category {
    font-family: Arial, sans-serif;
    width: 100%;
  }
 
  .category-image {
    width: 200px;
    height: 200px;
    transition: transform 0.5s;
    
  }
  .category-image:hover {
    transform: scale(105%);
  }

  .product-name{
    display: flex;
    justify-content: center;
    margin: 50px;
  }

  .product-title-price{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
  }
  
  .product-structure{
    margin-left: 100px;
   }

  .products{
    width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 30px;
    
  }

  .border-product{
    border: double black;
    padding: 50px;
  }

  .image-product{
    display: flex;
    justify-content: center;
  }

  .product-title{
    
  }

  .zindex{
    display: none;
  }

  .border-product:hover{
    
  }

  .product-name{
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  .products-product{
    margin: 20px;
    display: flex;
    justify-content: center;
  }

  .product-border{
    border: 1px solid black;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
  }

  .product-image{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-img{
    width: 300px;
    height: 300px;
    animation: UpAndDown 3s infinite;
  }

  @keyframes UpAndDown{
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-20px);
    }
    100%{
      transform: translateY(0);
    }
  }
  
  .product-description{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 30px;
  }

  .rete-price{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
  }

 